<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Lägg till</title>
</head>

<body>
    <!--Header med huvudrubrik och navigation-->
    <%- include("partials/header") %>

        <main>
            <section>

                <form action="/add" method="POST">

                    <label for="coursecode">Kurskod</label>
                    <input id="coursecode" name="coursecode" type="text" placeholder="ex: DT200g"
                        value="<%= old?.coursecode || '' %>" class="<%= errors?.coursecode ? 'error' : '' %>">
                    <% if (errors?.coursecode) { %>
                        <p class="errormessage">
                            <%= errors.coursecode %>
                        </p>
                        <% } %>

                            <label for="coursename">Kursnamn</label>
                            <input id="coursename" name="coursename" type="text" placeholder="ex: Backendutveckling"
                                value="<%= old?.coursename || '' %>" class="<%= errors?.courname ? 'error' : '' %>">

                            <% if (errors?.coursename) { %>
                                <p class="errormessage">
                                    <%= errors.coursename %>
                                </p>
                                <% } %>

                                    <label for="progression">Progression</label>
                                    <select id="progression" name="progression" type="text" placeholder="A, B eller C"
                                        value="<%= old?.progression || '' %>"
                                        class="<%= errors?.progression ? 'error' : '' %>">


                                        <option value="">Välj progression</option>
                                        <option value="A" <%=old?.progression==="A" ? "selected" : "" %>>A
                                        </option>
                                        <option value="B" <%=old?.progression==="B" ? "selected" : "" %>>B
                                        </option>
                                        <option value="C" <%=old?.progression==="C" ? "selected" : "" %>>C
                                        </option>
                                    </select>

                                    <% if (errors?.progression) { %>
                                        <p class="errormessage">
                                            <%= errors.progression %>
                                        </p>
                                        <% } %>


                                            <label for="syllabus">Kursplan</label>
                                            <input type="url" name="syllabus"
                                                placeholder="Länk - ex: https://www.miun.se/DT224G/"
                                                value="<%= old?.syllabus || '' %>"
                                                class="<%= errors?.syllabus ? 'error' : '' %>">

                                            <% if (errors?.syllabus) { %>
                                                <p class="errormessage">
                                                    <%= errors.syllabus %>
                                                </p>
                                                <% } %>

                                                    <button type="submit">Lägg till kurs</button>

                </form>

            </section>
        </main>
        <!--Footer-->
        <%- include("partials/footer"); %>
</body>

</html>