<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>CV</title>
</head>

<body>
    <!--Header med huvudrubrik och navigation-->
    <%- include("partials/header"); %>

        <main>
            <section class="index">
                <h2>Kurser</h2>

                <div class="cardgrid">
                <!--Kontroll för om kurs är inlagd-->
                <% if (courses.length===0) { %>
                    <p>Inga kurser inlagda ännu</p>
                    <% } else { %>

                        <!--Finns kurs loopas dessa igenom och skrivs ut i lista-->
                        <% courses.forEach(course=> { %>

                            <!--Visar kurskod-->
                            <div class="coursecard">
                                <h3 class="coursecode">
                                    <%= course.coursecode %>
                                </h3>

                                <!--Visar kursnamn-->
                                <p class="coursename">
                                    <%= course.coursename %>
                                </p>

                                <!--visar progression-->
                                <p class="courseprogression">
                                    Progression: <%= course.progression %>
                                </p><br>

                                <!--Visar länk till kursplan-->
                                <a class="coursesyllabus" href="<%= course.syllabus %>" target="_blank">Kursplan</a>
                        
                                <!--Knapp för att ta bort kurs. Kopplat till kurs id-->
                                <form action="/delete/<%= course.course_id %>" method="POST">
                                    <button class="deletebutton" type="submit">Ta bort</button>
                                </form>
                            </div>

                            <% }) %>
                </div>
                                <% } %>

            </section>
        </main>
        <!--Footer-->
        <%- include("partials/footer"); %>
</body>

</html>